* {
  box-sizing: border-box;
}

body,
html {
  background-color: #333;
  height: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
}

#todo-ul li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: darkgray; */
  height: 50px;
  width: 1000px;
  border: 1px solid grey;
  margin-top: 4px;
}

#project-ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  /* border: 1px solid black; */
  margin-top: 5px;
  overflow: hidden;
  width: 100%;
}

#inbox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  /* border: 1px solid black; */
  margin-top: 5px;
  overflow: hidden;
  width: 100%;
  font-size: 30px;
  text-align: center;
}

#container-all {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container-top {
  background-color: #43a0c4;
  width: 100%;
  height: 100px;
  padding-left: 20px;
}

#container-main {
  background-color: #ebf2f7;
  height: 100%;
  display: flex;
}

#container-projects {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: #dadce0;
  width: 100%;
  max-width: 400px;
}

#container-projects-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

#container-todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#todo-form-add,
#todo-form-edit,
#todo-form-view {
  margin: 2rem;
  width: 500px;
  background-color: darkgray;
}

#btn-add-project {
  /* font-size: 30px; 
   border-radius: 50px;
  width: 50px;
  height: 50px;  */
  margin-top: 10px;
  cursor: pointer;
}
#btn-add-todo {
  /* font-size: 30px; 
   border-radius: 50px;
  width: 50px;
  height: 50px;  */
  margin-top: 10px;
  cursor: pointer;
}

#project-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

#project-list {
  width: 100%;
}

.hidden {
  display: none;
}

.form-box {
  padding: 1rem;
  clear: both;
  width: 100%;
  position: relative;
}

.form-box label {
  font-size: 1rem;
  float: left;
  width: 100px;
  margin-right: 20px;
}

.form-box input {
  font-size: 1rem;
  width: 300px;
  padding: 0.25rem 1rem;
}
.form-box select {
  font-size: 1rem;
  width: 300px;
  padding: 0.25rem 1rem;
}
.form-box option {
  font-size: 1rem;
  width: 300px;
  padding: 0.25rem 1rem;
}
.form-box input[type="checkbox"] {
  font-size: 1rem;
}
.form-box button {
  font-size: 1rem;
  border: none;
  padding: 0.25rem 2rem;
  margin-right: 1rem;
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
}

.active {
  background-color: #ebf2f7;
  border: none;
}

.material-icons-outlined {
  cursor: pointer;
}
